.header__link-order {
    display: inline-block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    background-color: #36aeea;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 75px 20px 75px;
    margin: 27px 0 0 35px;
    font-size: 14px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.header__link-order:hover {
    background-color: #ffffff;
    color: #36aeea;
}

@media screen and (max-width: 1023px) {
    .header__link-order {
        margin: 27px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .header__link-order {
        padding: 20px 35px 20px 35px;
        margin-top: 47px;
    }
}
