.travel__price-first {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 85px 0 20px 20px;
    text-decoration: line-through;
    color: #ffffff; 
}


