.footer__bottom-right {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: lightgray;
    width: 200px;
}
