.header__container {
    margin: 0 auto;
    border: solid #ffffff;
    border-width: 0px 3px 3px;
    position: relative;
    max-width: 1140px;
    height: 323px;
}
  

.header__container::before {
    content: "";
    position: absolute;
    display: block;
    width: 737px;
    height: 3px;
    background-color: #ffffff;
    top: 0;
    left: 0;
}

.header__container::after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 3px;
    background-color: #ffffff;
    right: 0;
    top: 0;
}

@media screen and (max-width: 1279px) {
    .header__container::before {
        width: 650px;
    }
    .header__container::after {
        width: 110px;
    }
}

@media screen and (max-width: 1023px) {
    .header__container::before {
        width: 521px;
    }
    .header__container::after {
        width: 110px;
    }
}
