.journal__title {
    margin: 110px auto 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #2c2e37;
    max-width: 230px;
    text-align: center;
    letter-spacing: 1px;
}
