.footer__form-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin: 0 auto 30px;
}
