@keyframes scale {
    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.header__image {
    padding: 40px 0 0 35px;
    animation: scale 6s linear infinite;
}